*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    align-content: center;
}
.logo h2{
    font-size: 20px;
    font-weight: bold;
    float: left;
    align-items: center;
}
.menu{
    float: right;
    margin-left: 500px;
}
nav{
    display: flex;
    line-height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    top: 0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: right;
}
nav ul li a{
    color:black;
    font-weight: bolder;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
.Home {
    background-size: cover;
    background-image: url("img/Meyda.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px; 
    height: 50vh;
}
.nama{
    font-size: 20px;
}
h2{
    font-size: 30px;
}
.home p{
    font-size: 30px;
}
.home button{
    border-radius: 40px;
    font-weight: bold;
}
.about{
    margin-top: 300px;
}
h3{
    margin-top:100px;
}
.button1{
    width: 120px;
    height: 30px;
    color: white;
    background-color: black;
    margin: 10px 5px;
    margin-right:50px;
    margin-top: -400px;
    font-size: 20px;
    float:right;
    padding: 5px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.button2{
    width: 120px;
    height: 30px;
    color: white;
    background-color: black;
    margin: 10px 5px;
    margin-right:50px;
    margin-top: -240px;
    font-size: 20px;
    float:right;
    padding: 5px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.button3{
    width: 120px;
    height: 30px;
    color: white;
    background-color: black;
    margin: 10px 5px;
    margin-right:50px;
    margin-top: -70px;
    font-size: 20px;
    float:right;
    padding: 5px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Contact */
h3{
    color: black;
    top: 200px;
    margin-right: 50%;
}
.action{
    margin-bottom: 50px;
    padding: 50px;
}
.action p:nth-child(1){
    font-size: 40px;
    font-weight: bolder;
    color: gray;
}
.action p:nth-child(2){
    margin-top: 300px;
    color: black;
}
.login-box{
    position: absolute;
    top: 320%;
    margin-right: 5px;
    margin-left: 50%;
    width: 300px;
    height: 300px;
    padding: 40px;
    border: 3px solid black;
}
.login-box h2{
    margin-left: 5px;
    align-items: center;
    font-weight: bold;
}
.login-box .user-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.login-box .user-box input{
    border-style: none;
    border-bottom: 1px solid black;
    height: 20px;
    width: 50%;
    font-size: 16px;
    padding: 5px 0;
}
.login-box .user-box label{
    display: block;
    font-size: 15px;
    font-weight: bold;
}

